# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [3]:
import pandas as pd
import numpy as np

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [11]:
from sklearn.datasets import load_diabetes

diabetes = load_diabetes()

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [12]:
diabetes

{'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
          0.01990842, -0.01764613],
        [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
         -0.06832974, -0.09220405],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
          0.00286377, -0.02593034],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
         -0.04687948,  0.01549073],
        [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
          0.04452837, -0.02593034],
        [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
         -0.00421986,  0.00306441]]),
 'target': array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
         69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
         68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
         87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
        259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
        128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
        150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
        200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
         42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
         83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
        104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
        173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
        107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
         60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
        197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
         59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
        237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
        143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
        142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
         77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
         78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
        154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
         71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
        150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
        145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
         94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
         60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
         31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
        114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
        191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
        244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
        263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
         77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
         58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
        140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
        219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
         43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
        140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
         84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
         94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
        220.,  57.]),
 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - Age\n      - Sex\n      - Body mass index\n      - Average blood pressure\n      - S1\n      - S2\n      - S3\n      - S4\n      - S5\n      - S6\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)',
 'feature_names': ['age',
  'sex',
  'bmi',
  'bp',
  's1',
  's2',
  's3',
  's4',
  's5',
  's6'],
 'data_filename': 'C:\\Users\\HP\\anaconda\\lib\\site-packages\\sklearn\\datasets\\data\\diabetes_data.csv.gz',
 'target_filename': 'C:\\Users\\HP\\anaconda\\lib\\site-packages\\sklearn\\datasets\\data\\diabetes_target.csv.gz'}

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [14]:
print(diabetes["DESCR"])

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

In [18]:
# 1. 10 features (they will hepl us predict the Target variable, which measure the disease progression)

# 2. we're gonna use de Data to train the Model that will predict the Target variable


len(diabetes["data"])  # 442 records

442

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [28]:
features = pd.DataFrame(diabetes["data"], columns=diabetes["feature_names"]) 
display(features)
labels = pd.DataFrame(diabetes["target"], columns=["labels"])
display(labels)

print(features.shape)
print(labels.shape)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

     labels
0     151.0
1      75.0
2     141.0
3     206.0
4     135.0
..      ...
437   178.0
438   104.0
439   132.0
440   220.0
441    57.0

[442 rows x 1 columns]

(442, 10)
(442, 1)

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:

```
y = β0 + β1X1 + β2X2 + ... + βnXn + ϵ
```

...where:

- X1-Xn: data 
- β0: intercept 
- β1-βn: coefficients 
- ϵ: error (cannot explained by model)
- y: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### In the cell below, import the `linear_model` class from `sklearn`.

In [26]:
from sklearn.linear_model import LinearRegression

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [27]:
diabetes_model = LinearRegression()

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [55]:
x_train = features[:-20] # everything but the last 20
y_train = labels[:-20]
x_test = features[-20:]  # last 20
y_test = labels[-20:]


# criar e treinar modelo
model = diabetes_model.fit(x_train,y_train) 


print("Coefficients:",model.coef_)
print("Intercept:",model.intercept_)

Coefficients: [[ 3.03499549e-01 -2.37639315e+02  5.10530605e+02  3.27736980e+02
  -8.14131709e+02  4.92814588e+02  1.02848452e+02  1.84606489e+02
   7.43519617e+02  7.60951722e+01]]
Intercept: [152.76430692]

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [56]:
# avaliar fit model comparado com o Test
y_predict = model.predict(x_test)
print(y_predict)

[[197.61846908]
 [155.43979328]
 [172.88665147]
 [111.53537279]
 [164.80054784]
 [131.06954875]
 [259.12237761]
 [100.47935157]
 [117.0601052 ]
 [124.30503555]
 [218.36632793]
 [ 61.19831284]
 [132.25046751]
 [120.3332925 ]
 [ 52.54458691]
 [194.03798088]
 [102.57139702]
 [123.56604987]
 [211.0346317 ]
 [ 52.60335674]]

#### Print your `diabetes_target_test` and compare with the prediction.

In [57]:
target_test = y_test.reset_index()
target_test.drop(columns=["index"],inplace=True)
print(target_test)

y_predict = pd.DataFrame(y_predict,columns=["y_pred/x_test"])
y_predict.join(target_test)

    labels
0    233.0
1     91.0
2    111.0
3    152.0
4    120.0
5     67.0
6    310.0
7     94.0
8    183.0
9     66.0
10   173.0
11    72.0
12    49.0
13    64.0
14    48.0
15   178.0
16   104.0
17   132.0
18   220.0
19    57.0

    y_pred/x_test  labels
0      197.618469   233.0
1      155.439793    91.0
2      172.886651   111.0
3      111.535373   152.0
4      164.800548   120.0
5      131.069549    67.0
6      259.122378   310.0
7      100.479352    94.0
8      117.060105   183.0
9      124.305036    66.0
10     218.366328   173.0
11      61.198313    72.0
12     132.250468    49.0
13     120.333292    64.0
14      52.544587    48.0
15     194.037981   178.0
16     102.571397   104.0
17     123.566050   132.0
18     211.034632   220.0
19      52.603357    57.0

In [58]:
diff = np.array(target_test) - y_predict
diff

    y_pred/x_test
0       35.381531
1      -64.439793
2      -61.886651
3       40.464627
4      -44.800548
5      -64.069549
6       50.877622
7       -6.479352
8       65.939895
9      -58.305036
10     -45.366328
11      10.801687
12     -83.250468
13     -56.333292
14      -4.544587
15     -16.037981
16       1.428603
17       8.433950
18       8.965368
19       4.396643

In [60]:
from sklearn import metrics
from sklearn.metrics import r2_score

print("Data Accuracy:", model.score(x_test,y_test))
print("R-squared:", r2_score(y_test, y_predict))  # y_predict = x_test

Data Accuracy: 0.5850753022690574
R-squared: 0.5850753022690574

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

In [ ]:
# No, we kind of far of having a good predictor.
# So, Linear Regression its not good to answer this question

# Bonus Challenge 1 - Hypothesis Testing with `statsmodels`

After generating the linear regression model from the dataset, you probably wonder: then what? What is the statistical way to know if my model is reliable or not?

Good question. We'll discuss that using Scikit-Learn in Challenge 5. But for now, let's use a fool-proof way by using the ([Linear Regression class of StatsModels](https://www.statsmodels.org/dev/regression.html)) which can also conduct linear regression analysis plus much more such as calcuating the F-score of the linear model as well as the standard errors and t-scores for each coefficient. The F-score and t-scores will tell you whether you can trust your linear model.

To understand the statistical meaning of conducting hypothesis testing (e.g. F-test, t-test) for slopes, read [this webpage](https://onlinecourses.science.psu.edu/stat501/node/297/) at your leisure time. We'll give you a brief overview next.

* The F-test of your linear model is to verify whether at least one of your coefficients is significantly different from zero. Translating that into the *null hypothesis* and *alternative hypothesis*, that is:

    ```
    H0 : β1 = β2 = ... = β10 = 0
    HA : At least one βj ≠ 0 (for j = 1, 2, ..., 10)
    ```

* The t-tests on each coefficient is to check whether the confidence interval for the variable contains zero. If the confidence interval contains zero, it means the null hypothesis for that variable is not rejected. In other words, this particular vaiable is not contributing to your linear model and you can remove it from your formula.

Read the documentations of [StatsModels Linear Regression](https://www.statsmodels.org/dev/regression.html) as well as its [`OLS` class](https://www.statsmodels.org/dev/generated/statsmodels.regression.linear_model.OLS.html) which stands for *ordinary least squares*.

#### In the next cell, analyze `diabetes_data_train` and `diabetes_target_train` with the linear regression model of `statsmodels`. Print the fit summary.

Your output should look like:

![statsmodels regression](../statsmodels.png)

In [65]:
import statsmodels.api as sm

model = sm.OLS(y_train,x_train)
result = model.fit()
print(result.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                 labels   R-squared (uncentered):                   0.110
Model:                            OLS   Adj. R-squared (uncentered):              0.089
Method:                 Least Squares   F-statistic:                              5.109
Date:                Fri, 04 Dec 2020   Prob (F-statistic):                    4.77e-07
Time:                        14:13:41   Log-Likelihood:                         -2745.5
No. Observations:                 422   AIC:                                      5511.
Df Residuals:                     412   BIC:                                      5552.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
age           42.9190    183.983      0.233      0.816    -318.744     404.582
sex         -261.9605    188.650     -1.389      0.166    -632.798     108.877
bmi          547.5378    204.613      2.676      0.008     145.322     949.754
bp           352.4704    200.777      1.756      0.080     -42.205     747.146
s1          -634.0265   1273.063     -0.498      0.619   -3136.536    1868.483
s2           285.1002   1033.408      0.276      0.783   -1746.310    2316.510
s3            -9.4062    658.863     -0.014      0.989   -1304.558    1285.746
s4           197.4998    502.388      0.393      0.694    -790.064    1185.063
s5           670.7500    526.463      1.274      0.203    -364.139    1705.639
s6            11.6643    205.008      0.057      0.955    -391.327     414.656
==============================================================================
Omnibus:                        0.574   Durbin-Watson:                   0.228
Prob(Omnibus):                  0.751   Jarque-Bera (JB):                0.677
Skew:                          -0.001   Prob(JB):                        0.713
Kurtosis:                       2.804   Cond. No.                         21.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

#### Interpreting hypothesis testing results

Answer the following questions in the cell below:

1. What is the F-score of your linear model and is the null hypothesis rejected?

1. Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?

1. How will you modify your linear reguression model according to the test results above?

In [ ]:
# 1. F-score = 5.109  -> veriricar se pelo menos 1 dos Coef é significativamente diferente de 0

# 2. T-test: t-test de cada Coef vê se o Confidence Interval contem 0. Se sim, H0 para aquela váriavel não é rejeitada. 
# Ou seja, esta variable em particular não contribui para o modelo Linear e podemos removê-la da fórmula.

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [109]:
auto = pd.read_csv(r"C:\Users\HP\Documents\IronHack\Bootcamp\IronHackLessons\Week7\LAB Supervised Learning sklearn\auto-mpg.csv")

Look at the first 5 rows using the `head()` function:

In [110]:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [111]:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [112]:
print("Min:",auto["model_year"].min())
print("Max:",auto["model_year"].max())

Min: 70
Max: 82

Check the dataset for missing values and remove all rows containing at least one missing value.

In [113]:
auto.isnull().sum()
auto.dropna(inplace=True)

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [114]:
print(auto["cylinders"].value_counts())
print(auto["cylinders"].nunique())

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64
5

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [115]:
auto.drop(columns=["car_name"],inplace=True)

from sklearn.model_selection import train_test_split
x = auto.loc[:, auto.columns != "mpg"]   #Features
y = auto["mpg"]   #Labels

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2, random_state=1)

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

In [116]:
from sklearn.linear_model import LinearRegression

# criar modelo
auto_model = LinearRegression()

# treinar modelo
model = auto_model.fit(x_train,y_train)

# modelo Score
model.score(x_test,y_test)

0.8144902542572598

# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](https://en.wikipedia.org/wiki/Coefficient_of_determination). In the end, we want the r-squared score to be as high as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [120]:
from sklearn.metrics import r2_score

# avaliar fit model comparado com o Test
y_predict = model.predict(x_train)
print(y_predict)


print("R-squared:",r2_score(y_train, y_predict))

[30.16201258 20.89349249 26.85028132 32.59944053 31.87788498 15.64881146
 24.18006252 33.4369806  27.11580449 29.04211534 23.33700898 25.47834049
 23.73560393 15.18602042  9.73479141  7.94860264 27.17154933 11.71405621
 25.82284313 24.2808956  16.64389067 26.1218836  25.44635818 21.6197923
 28.98575637 26.4171187  30.36976146 26.69013265 31.73204907 11.92332916
 16.67321439 32.32053624 26.00202548 33.57778953 24.75560616 13.61990476
 27.52182621 20.99262992 11.83201741 29.19613366 29.7541858  34.65545289
 24.94705179 23.32451708 31.96834463 16.34894544 26.08489984 25.52801536
 15.08809353 25.49997945 31.49562735 34.36119248 23.86293291 15.82348604
 16.48397779 21.07977806 15.22408624 22.64057283 28.41369744 16.78705017
 13.48043181 25.91998094 25.28977752 24.39432742 13.03021162 24.02293507
 20.34835665 29.10603987 15.29709113 10.89976539 30.63542106 30.41357565
 23.91966478  9.72054273 20.69460331 23.15604552 32.58546491 33.11060161
 27.39386455  7.69472674 15.97374096 20.61933776 23.53931743 15.11483708
 27.9298038  19.21355719 25.61810335 24.82481924 24.80576949 21.702649
 17.3074759  26.13316241 25.29885299 10.30205144 28.35594635 11.17593706
 27.09730015 19.92186957 16.96450384 29.39750259 19.77994713 29.09337531
 19.82659408 28.85361776 25.42438857 35.28833705 23.81503712 24.12288387
 33.57168207 13.88608402  9.66022369 30.29915769 21.15578491 33.32385917
 32.92399339 24.00353275  7.82084008 24.27652505 27.10493137 22.15633907
 21.89555855 27.65283708 24.31819157 26.60451412 34.41435871 16.4000896
 21.7015013  17.41883202 35.13908153 12.6125018  11.17809464 25.24975318
 17.56729945 16.31527358  9.53483147 31.13731868 26.21290579 21.77438574
 33.08108598 29.44805702 31.91121632 23.79016017 16.98926564 25.38674169
 32.12893782 18.44631655 25.64218833 22.14353642 17.95245698 30.10636104
 12.06513867 22.05899311 28.58192008 21.470095   11.05936113 29.08229927
 18.91659756 25.65102796 10.67884299 21.13865558 30.25464139 16.65432456
 28.28149036 21.66710826 13.99236567 20.24153983 28.80069135 17.58291654
 27.12495585 30.70168404 34.41051468 28.39610621 16.0716067  20.9742248
 33.2688214  30.76248421 27.08613359 28.55032293 24.91511799 31.80192701
 32.40644658 20.27895769 28.49046855 19.60992146 13.80015616 23.14395891
 22.0274642  27.43884426 34.40030191 27.69660635 22.40752031 29.54850836
 20.03269637 25.76428944 27.17387691  8.07800065 17.25054152 24.72630803
 20.6122488  25.45281227  8.20599364 30.38714094 28.34377293 25.53865736
 29.9539987  20.28582265 32.18796802 15.21762658 26.47809651 20.40936111
 13.95164614 25.97397843 26.09971404 30.76708115 17.51261642 29.38919306
 20.7887126  33.18636257 20.08885838 22.45254147 20.42387344 17.46877713
 28.7265106  28.15754901 31.73433586 15.83002829 28.04240601 23.38510816
 26.22860267 22.06913813 28.25944294 19.46640457 32.67328743 30.79741499
 20.7365835  13.12547434 32.44197182 28.22248242 14.03694898 24.82807146
 28.62982654 32.02119305 29.15205564 18.70345017 11.73920777 24.81894054
 26.26053645 31.78313918 12.83409287 25.8762837  19.75916121 29.88878473
 27.21832512 30.21133909  9.82594011 22.04416834 23.19379204 20.94286751
  8.36785788 31.36650911 12.76954051 19.89419071 25.0179111  25.05813957
 29.15233407 33.36775499  9.90538859 23.53533693  4.83130262 26.05287584
 15.94915028 30.64112719 25.02902293 30.17545868 24.37837622 22.74578001
 12.64214413 29.63272837 32.07263371 30.20534327 17.34735272 27.79102973
 14.30558141 26.52524213 23.00065746 29.19489134 30.77315343 10.08029802
 25.86797668 14.49199266 29.11764799 24.93913398 29.32145681 10.49452141
 25.99249443 12.35794568 24.89872123 27.0218166  21.96079891 31.11776582
 24.11174088 24.0604604  30.67836311 14.15363605 30.1680281  27.09655579
 29.30123319 17.53656643 28.73710438 23.54476197 12.76626603 30.27216591
 11.34224232]
R-squared 0.805894855213757

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [123]:
y_test_pred = model.predict(x_test)

print("R-squared:",r2_score(y_test, y_test_pred))

R-squared: 0.8144902542572598

#### Explaining the results

The r squared scores of the training data and the test data are pretty close (0.8146 vs 0.7818). This means our model is not overfitted. However, there is still room to improve the model fit. Move on to the next challenge.

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [128]:
x_train09,x_test09,y_train09,y_test09 = train_test_split(x,y, test_size=0.1, random_state=1)

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [130]:
auto_model09 = LinearRegression()

# treinar modelo
model = auto_model09.fit(x_train09,y_train09)

Compute the predicted values and r squared score for our new model and new sample data.

In [131]:
y_pred09 = model.predict(x_test09)

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [132]:
print("R-squared:",r2_score(y_test09, y_pred09))

# is slightly worse actually

R-squared: 0.8085025190218511

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [ ]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [ ]:
# Your code here:

Fit the model and print the ranking

In [ ]:
# Your code here:

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [ ]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [ ]:
# Your code here:

#### Conclusion

You may obtain the impression from this lab that without knowing statistical methods in depth, it is difficult to make major progress in machine learning. That is correct. If you are motivated to become a data scientist, statistics is the subject you must be proficient in and there is no shortcut. 

Completing these labs is not likely to make you a data scientist. But you will have a good sense about what are there in machine learning and what are good for you. In your future career, you can choose one of the three tracks:

* Data scientists who need to be proficient in statistical methods.

* Data engineers who need to be good at programming.

* Data integration specialists who are business or content experts but also understand data and programming. This cross-disciplinary track brings together data, technology, and business and will be in high demands in the next decade.